*{
    background-color: #769ABB;
    background-position: fixed;
    text-align: center;
    font-family: Agbalumo;
}

h1{
    color: #201e8b;
    text-shadow: rgb(95, 90, 168) 1px 1px 0px;
    text-shadow: rgb(247, 247, 250) 1px -1px 0px;
    font-size: 2.4rem;
    margin-top: 5rem;
    font-style: italic;
    border-bottom: #605ed6 solid 2px;  
    width: 15%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2{
    color: #201e8b;
    text-shadow: rgb(95, 90, 168) 1px 1px 0px;
    text-shadow: rgb(247, 247, 250) 1px -1px 0px;
    font-size: 1.7rem;
    margin-top: 2rem;
}

h3{
    color: #201e8b;
    text-shadow: rgb(95, 90, 168) 1px 1px 0px;
    text-shadow: rgb(247, 247, 250) 1px -1px 0px;
    font-size: 1.5rem;
    margin-top: 3rem;
}

h4{
    color: #201e8b;
    text-shadow: rgb(95, 90, 168) 1px 1px 0px;
    text-shadow: rgb(247, 247, 250) 1px -1px 0px;
    font-size: 1.3rem;
    margin-top: 3rem;
}

p{
    color: #201e8b;
    text-shadow: rgb(95, 90, 168) 1px 1px 0px;
    text-shadow: rgb(247, 247, 250) 1px -1px 0px;
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: bold;
}

#social{
    display: inline-flex;
}

#fb{
    height: 2rem;
    margin-right: 1rem;
}

#insta{
    height: 2rem;
}

a{
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:focus{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

#backbtn{
    font-size: 0.8rem;
    text-decoration: none;
    text-shadow: none;
}

@media screen and (max-width: 600px) {
    body{
        padding: 10px;
    }

    h1{
        width: 50%;
        margin-top: -15px;
    }
}