*{
    background-image: none;
    background: #769ABB;
    font-size: 12px;
    text-align: center;
    max-width: 600px;
    overflow: scroll;
    color: #2D2679;
    text-shadow: white 1px 1px 0px,
                 white -1px -1px 0px,
                 white -1px 1px 0px,
                 white 1px -1px 0px;   
    width: 100%;
    font-family: 'Irish Grover';
}

#photo{
    width: 6rem;
    height: auto;
}

a{
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:focus{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

@media only screen and (min-width: 600px) {
    body{
        background-position-y: -2rem;
        position:static;
        background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg/2560px-Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg");
        background-repeat: no-repeat;
        background-color: #769ABB;
        background-size: cover;
        font-size: 2.4rem;    
        width: 100%;
        font-family: 'Irish Grover';
    }

    #photo{
        margin-left: 35rem;
        margin-top: 14rem;
        position: fixed;
        border-radius: 90px;
        width: 12rem;
        height: auto;
    }
    
    
    #melo{
        margin-left: 36.5rem;
        margin-top: 23rem;
        position: fixed;
        border-radius: 90px;
        font-size: 2rem;
    }
    
    #projects{
        margin-left: 25rem;
        margin-top: 32rem;
        position: fixed;
    }
    
    #projectsbtn{
        color: #2D2679;
        text-shadow: white 1px 1px 0px,
                     white -1px -1px 0px,
                     white -1px 1px 0px,
                     white 1px -1px 0px;
        font-size: 2.4rem;  
        background-color: transparent;
        border: none;
        font-family: 'Irish Grover';
    }
    
    #projectsbtnhide{
        color: #2D2679;
        text-shadow: white 1px 1px 0px,
                     white -1px -1px 0px,
                     white -1px 1px 0px,
                     white 1px -1px 0px;
        font-size: 2.4rem;  
        background-color: transparent;
        border: none;
        display: none;
        font-family: 'Irish Grover';
    }
    
    #logos{
        display: none;
    }
    
    #link{
        margin-left: 27rem;
        margin-top: 28rem;
        position: fixed;
        height: 3rem;
        width: 3rem;
        border-radius: 30px;
    }
    
    #atelier{
        margin-left: 35rem;
        margin-top: 33rem;
        position: fixed;
        height: 3rem;
        width: 3rem;
        border-radius: 30px;
    }
    
    #webdesign{
        margin-left: 30rem;
        margin-top: 36rem;
        position: fixed;
        height: 3rem;
        width: 3rem;
        border-radius: 30px;
    }
    
    #teacozy{
        margin-left: 32rem;
        margin-top: 29rem;
        position: fixed;
        height: 3rem;
        width: 3rem;
        border-radius: 30px;
    }
    
    #contact{
        margin-left: 73rem;
        margin-top: 8rem;
        position: fixed;
    }
    
    #about{
        margin-left: 55rem;
        margin-top: 28rem;
        position: fixed;
    }
    
    #aboutbtn{
        color: #2D2679;
        text-shadow: white 1px 1px 0px,
                     white -1px -1px 0px,
                     white -1px 1px 0px,
                     white 1px -1px 0px;
        font-size: 2.4rem;  
        background-color: transparent;
        border: none;
        font-family: 'Irish Grover';
    }
    
    #abouttext{
        display: none;
        margin-left: 52rem;
        margin-top: 11rem;
        position: fixed;
        background-color: #161246;
        font-size: 1.2rem;
        width: 20%;
        text-align: justify;
        text-shadow: none;
        padding: 0rem 1rem;
        border-radius: 20px;
        color: #8b82ec;
    }
    
    #hideabout{
        text-align: center;
        background-color: transparent;
        color: #8b82ec;
        border: none;
        margin-left: 45%;
        font-weight: bold;
    }
}